torch==1.10.1
torchvision==0.11.2
opencv-python
timm==0.4.12
numpy
yacs
lvis
fvcore
diffdist
cloudpickle
transformers
matplotlib
pycocotools
termcolor
cityscapesscripts
tabulate
tqdm
scipy
psutil
black
isort
hydra-core
av
iopath
submitit